#conteudo {
    background-color: rgb(13, 221, 221);
    padding-top: 20px;
}

#divCarrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    background-color: #fafafa;
    width: 50%;
    padding: 10px 0;
    height: 500px;
}

#listaCarrinho{
    background-color: #fff;
    padding: 0 30px;
    overflow-y: scroll;
    height: 75%;
    width: 90%;
    border-radius: 10px;
    list-style: none;
}

.carrinhoItem{
    background-color: #fafafa;
    
}